<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBookshelf Add a Book</title>
</head>
<body>
    <container>
        <header>
            <h1>MyBookshelf</h1>
            <h2>Welcome {{logged_user.first_name}}</h2>
            <p>dark/light mode button</p>
            <p>Logout</p>
        </header>
                                                    <!-- ADD NECESSARY INPUTS FOR EMPTY INPUT BOXES AND WHAT NOT -->
        <img name="book_img">
        <p class="T-A">
    <form action="/recipes/create" method="post">
        <input type="hidden" name="user_id" value="{{session.user_id}}">
            <p>Title
                <input name="title">
            </p>
            <p>Author
                <input name="author">
            </p>
        </p>
        <p class="count">
            <p>Chapters
                <input name="chapters">
            </p>
            <p>Word Count
                <input name="count">
            </p>
        </p>

        <p class="description">
            Description:<br>
            <textarea name="description" cols="30" rows="4"></textarea>
        </p>

        <div class="com">
            Completed
            <input type="radio" name="under_thirty" value="1">
            Not Completed
            <input type="radio" name="under_thirty" value="0">
        </div>

        <div class="read">
            Read
            <input type="radio" name="under_thirty" value="1">
            Not Read
            <input type="radio" name="under_thirty" value="0">
        </div>

        <div class="dnl">
            Downloaded
            <input type="radio" name="under_thirty" value="1">
            Not Downloaded
            <input type="radio" name="under_thirty" value="0">
        </div>
        <button>Add Book</button>

        <span id="spotify">
            <!-- ADD SPOTIFY API!!!!!!!!!!!!!! -->
        </span>
    </container>
</body>
</html>