<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBookshelf_show</title>
</head>
<body>
    <container>
        <header>
            <h1>MyBookshelf</h1>
            <h2>Welcome (user)</h2>
            <p>dark/light mode button</p>
            <p>Logout</p>
        </header>
        <div id="add">
            Add a Book
        </div>
        <img name="book_img">
        <p class="T-A">
            <p>Title</p>
            <p>Author</p>
        </p>
        <p class="count">
            <p>Chapters</p>
            <p>Word Count</p>
        </p>
        <p class="tools">
            <a href="edit">Edit</a>
            <a href="delete">Delete</a>
        </p>
        <!-- TEXT BOX -- DESCRIPTION -->
        <!-- complete/ Incomplete -->
        <!-- read / Not Read -->
        <!-- Download / Not Downloaded -->
        <span id="spotify">
            <!-- ADD SPOTIFY API!!!!!!!!!!!!!! -->
        </span>
    </container>
</body>
</html>