<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBookshelf_show</title>
</head>
<body>
    <container>
        <header>
            <h1>MyBookshelf</h1>
            <h2>Welcome {{logged_user.first_name}}</h2>
            <p>dark/light mode button</p>
            <p>Logout</p>
        </header>
        <div id="add">
            Add a Book
        </div>
        <img name="book_img">
        <p class="T-A">
            <p>Title:
                {{this_recipe.name}}</p>
            <p>Author"
                {{this_recipe.name}}
            </p>
        </p>
        <p class="count">
            <p>Chapters:
                {{this_recipe.name}}
            </p>
            <p>Word Count:
                {{this_recipe.name}}
            </p>
        </p>

        <div class="checks">
            <p class="com">
                {% if this_recipe.under_thirty == 1 %}
                    Completed
                {% else %}
                    Not Completed
                {% endif %}
            </p>
            <p class="read">
                {% if this_recipe.under_thirty == 1 %}
                    Read
                {% else %}
                    Not Read
                {% endif %}
            </p>
            <p class="com">
                {% if this_recipe.under_thirty == 1 %}
                    Completed
                {% else %}
                    Not Completed
                {% endif %}
            </p>
            <p class="com">
                {% if this_recipe.under_thirty == 1 %}
                    Downloaded
                {% else %}
                    Not Completed
                {% endif %}
            </p>
        </div>

        <div class="description">
            Description: {{this_recipe.creator.description}}
        </div>

        <p class="tools">
            <a href="edit">Edit</a>
            <a href="delete">Delete</a>
        </p>

        <span id="spotify">
            <!-- ADD SPOTIFY API!!!!!!!!!!!!!! -->
        </span>
    </container>
</body>
</html>