<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBookshelf_Home</title>
</head>
<body>
    <container>
        <header>
            <h1>MyBookshelf</h1>
            <h2>Welcome (user)</h2>
            <p>dark/light mode button</p>
            <p>Logout</p>
        </header>
        <div id="add">
            Add a Book
        </div>
        <div class="recents-bar">
            <h3>Recently Read</h3>
            <input name="search bar">
        </div>
        <hr>
        <div class="recent-book">
            <div class="recent_1"
                img class="img_1">
                <p>Title</p>
                <a href="edit">Edit |</a>
                <a href="delete">Delete</a>
            </div>
            </div>
        </div>
        <div id="lists">
            <h3>Lists</h3>
            <hr>
            <div class="list_1">
                img class="img_1">
                <p>Title</p>
                <a href="edit">Edit |</a>
                <a href="delete">Delete</a>
            </div>
        <div id="books">
            <div class="books-bar">
                <h3>Books</h3>
                <input name="dropdown">
            </div>
            <hr>
            <div class="book_1">
                img class="img_1">
                <p>Title</p>
                <a href="edit">Edit |</a>
                <a href="delete">Delete</a>
            </div>
        </div>
        </div>
        <span id="spotify">
            <!-- ADD SPOTIFY API!!!!!!!!!!!!!! -->
        </span>
    </container>
</body>
</html>