<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBookshelf</title>
</head>
<body>
    <h1>Welcome To MyBookshelf!</h1>
    <container>
        <div id="right-col">
            <p>Register</p>
            <div class="text-input">
                <p class="username">
                    Username
                    <input name="text">
                </p>
                <p class="email">
                    Email
                    <input name="text">
                </p>
                <p class="password">
                    Password
                    <input name="text">
                </p>
                <p class="confirm">
                    Confirm Password
                    <input name="text">
                </p>
            </div>
            <button>Register</button>
        </div>
        <div id="left-col">
            <p>Login</p>
            <div class="text-input">
                <p class="username-login">
                    Username
                    <input name="text">
                </p>
                <p class="password-login">
                    Email
                    <input name="text">
                </p>
            </div>
            <button>Login</button>
        </div>
    </container>
</body>
</html>