<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBookshelf_Login/Register</title>
</head>
<body>
    <container>
        <!-- ----- TITLE ------- -->
        <h1>Welcome To MyBookshelf!</h1>

        <div id="left-col">
    <!-- ---------- REGISTER ---------- -->
            <h3>Register</h3>

            <div>
                {% for message in get_flashed_messages() %}
                    <p style="color: red">{{message}}</p>
                {% endfor %}
            </div>

            <form action = "/users/register" method = "post">

                <div class="username">Username:
                    <input name="username">
                </div>

                <div class="email">Email:
                    <input name="email">
                </div>

                <div class="password">Password
                    <input name="password" type="password">
                </div>

                <div class="confirm">Confirm Password
                    <input name="confirm">
                </div>

                <button class="reg">Register</button>
            </form>
        </div>

        <div id="right-col">
        <!-- ------------ LOGIN ----------- -->
            <h3>Login</h3>

            <form action="/users/login" method="post">

                <div class="log-user">Username
                    <input name="username">
                </div>

                <div class="log-pass">Password
                    <input name="password" type="password">
                </div>

                <button class="login">Login</button>
            </form>
        </div>
    </container>
</body>
</html>