<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBookshelf_Login/Register</title>
</head>
<body>
    <container>
        <h1>Welcome To MyBookshelf!</h1>
        <div id="left-col">
            <h3>Register</h3>
            <div class="username">Username:</div>
            <input name="text">

            <div class="email">Email:</div>
            <input name="text">

            <div class="password">Password</div>
            <input name="text">

            <div class="confirm">Confirm Password</div>
            <input name="text">
            <button>Register</button>
        </div>
        <div id="right-col">
            <h3>Login</h3>
            <div class="log-user">Username</div>
            <input name="text">

            <div class="log-pass">Password</div>
            <input name="text">
            <button>Register</button>
        </div>
    </container>
</body>
</html>